body {

    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;

    #main {

    // display: flex;
    color: white;
    padding: 5px;
        #image_api {
            width: 300px;
            margin: auto;
            

            #images {
                border: 1px solid white;
                height: 300px;
                width: 300px;
                margin: auto;
            }

            #form {
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                text-align: center;
                width: 300px;

                #skip_add {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 50%;

                    #skip_btn,
                    #add_btn {
                        width: 50%;
                        padding: 5px;
                    }
                }

                #email_submit {
                    width: 100%;
                    height: 50%;
                    
                    #email_text {
                        width: calc(100% - 4px);
                        padding: 5px 0px;
                    }
                }
            } 
        }

        #selected_images {
            border: 1px solid white;
            padding: 5px;

            
        }
    }
}